!!!DOCTYPE
%html
  %head
    %link{:rel => "stylesheet", :media => "screen", :href => "/vendor/bootstrap/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :media => "screen", :href => "/stylesheets/styles.css"}
    %script{:type => "text/javascript", :src => "/javascripts/app.js"}
  %body
    = yield