%form{:action => "/projects/#{@project.id}/deployments", :method => :post}
  %label{:for => "deployment_label"}
    Label
  %input{:type => "text", :name => "deployment[label]", :id => "deployment_label"}
  %input{:type => "submit", :value => "Save"}
